<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<link rel="stylesheet" href="./css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="./css/bootswatch.min.css">
		<link rel="stylesheet" href="./css/EstiloCSS.css">
		
		<title>Amigos de un usuario</title>
	</head>
	<body>
		<div id="cabecera">
	 			<p><img src="/img/bird_icon.png" WIDTH=100 HEIGHT=100 />
	 			<b>Amigos de un Usuario</b></p>
	 	</div>
	 	
	 	<div id="re">
		 	<form action="/" method="post">
		   		<p><b>Introduzca su nombre en Twitter:</b></p><input type="text" name="firstname"  value="" autofocus>
		   		<p><b>¿Cuántos amigos desea ver?</b></p><input type="text" name="n" value="1">
		   		<input  type="submit" value="Submit" >
		 	</form>
	 	</div>
 		
 		<div id="izquierda">

                       <% if @name != ''%>
				<%if @number>10%>
					<p id="bg-danger"> Sólo se puede mostrar hasta 10 amigos </p>
				<%elsif @amigos_usuario.length <= 0 %>
					<p id="bg-danger">El usuario no existe o no tiene amigos</p>
				<%elsif @amigos_usuario.length < @number %>
					<p id="bg-danger">El usuario tiene menos de <%= @number%> amigos</p>
					<ol>
						<% @amigos_usuario.each do |i| %> 
							<li id="col" class="bg-primary"><%= i %><br></li>
						<% end %>
					</ol>
				<%else%>
					<p>Amigos :</p>
					<ol>
						<% @amigos_usuario.each do |i| %> 
							<li id="col" class="bg-primary"><%= i %><br></li>
						<% end %>
					</ol>
				<%end%>
			<%end%>
		</div>	
		<div class="row">
			<div class="col-md-12" ALIGN=center>
			<p>© 2014 Sistemas y Tecnologias Web - Grado en Ingenieria Informatica</p>
			</div>
		</div>
	</body>
</html>
